---
import CTA from "../components/CTA.astro";
import Features from "../components/Features.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Pricing from "../components/Pricing.astro";
import Layout from "../layouts/main.astro";
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<Features />
		<Pricing />
		<CTA />
	</main>
	<Footer />
</Layout>
