---
import CTA from "../components/CTA.astro";
import FAQ from "../components/FAQ.astro";
import Features from "../components/Features.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Navbar from "../components/Navbar.astro";
import Pricing from "../components/Pricing.astro";
import Stats from "../components/Stats.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/main.astro";
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<Stats />
		<Features />
		<HowItWorks />
		<Testimonials />
		<Pricing />
		<FAQ />
		<CTA />
	</main>
	<Footer />
</Layout>
