gentoo.pengistudio.com {
    reverse_proxy landing:80
}

app.gentoo.pengistudio.com {
    reverse_proxy web:80
}

admin.gentoo.pengistudio.com {
    reverse_proxy backoffice:80
}

api.gentoo.pengistudio.com {
    reverse_proxy api:8000
}
